body{
  font-family: Arial;
  text-align: center;
  font-size: 20px;
}

h1{
  font-family: Josefin Sans;
  text-shadow: 10px 2px 10px gray;
  font-size: 40px;
  line-height: 4.5;
  letter-spacing: 1.2em;
  text-decoration: underline;
}

.text-c-skyb{
  color: skyblue;
}

.text-c-pink{
  color: pink;
}

.text-skyblue{
  color: skyblue;
}

.text-pink{
  color: pink;
}

#parent >p{
  font-weight: bold;
}